.App {
  text-align: center;
}

.article-card {
  list-style: none;
  margin: 0;
  display: grid;
  border: 2px solid #282c34;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "votes title"
    "votes info";
  height: fit-content;
}
.votes {
  display: flex;
  flex-direction: column;
  grid-area: votes;
  border: 2px solid #224faa;
}
.title {
  display: flex;
  flex-direction: column;
  grid-area: title;
  border: 2px solid #282c34;
}

.info {
  display: flex;
  flex-direction: column;
  grid-area: info;
  border: 2px solid #282c34;
}

.comment-card {
  list-style: none;
  grid-template-rows: 10% 90%;
  grid-template-areas: "comment info";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
