.App {
  text-align: center;
}

.article-card {
  list-style: none;
  display: grid;
  border: 2px solid #282c34;
  grid-template-columns: 10% 90%;
  grid-template-areas: "votes content";
  grid-template-rows: "votes card-info";

  height: fit-content;
}
.votes {
  display: flex;
  flex-direction: column;
  grid-area: votes;
  border: 2px solid #224faa;
}
.content {
  display: flex;
  flex-direction: column;
  grid-area: content;
  border: 2px solid #282c34;
}
.card-info {
  display: flex;
  flex-direction: column;
  grid-area: card-info;
  border: 2px solid #282c34;
}

.comment-card {
  list-style: none;
  grid-template-rows: 10% 90%;
  grid-template-areas: "comment info";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
